html {
    height: 100%;
    background: linear-gradient(135deg, rgb(194, 235, 228), rgb(201, 201, 252));
}

body {
    font-family: 'Segoe UI';
}

#chat {
    border: none;
}

#chat-input {
    width: 100%;
    height: 130px;
    background: linear-gradient(to right, rgb(200, 233, 252), rgb(129, 176, 236));
    position: fixed;
    border-top: 10px;
    bottom: 0;
    left: 0;
}

#inputPane {
    width: 90%;
}

#controlPane {
    position: relative;
    left: 85%;
    width: 10%;
}

#chat-input-text {
    font-family: 'Segoe UI';
    position: relative;
    top: 10px;
    border: none;
    bottom: 0;
    left: 3px;
    border-radius: 8px;
}

#chat-input-send {
    position: relative;
    left: 5px;
    top: -120px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 17.5px;
    background: linear-gradient(45deg, rgb(124, 150, 192), rgb(40, 71, 122));
}

#chat-input-send:hover {
    background: linear-gradient(45deg, rgb(70, 137, 245), rgb(7, 50, 121));
}

#reloadAll {
    position: relative;
    left: 5px;
    top: -115px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 17.5px;
    background: linear-gradient(45deg, rgb(124, 150, 192), rgb(40, 71, 122));
}

#reloadAll:hover {
    background: linear-gradient(45deg, rgb(70, 137, 245), rgb(7, 50, 121));
}

#filename {
    position: relative;
    font-size: 14px;
    left: 7px;
    top: -30px;
    opacity: 0.8;
    border: 0.5px solid grey;
    border-radius: 4px;
    padding: 3px;
}

.system{
    border: 4px solid transparent;
    border-radius: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    max-width: 90%;
    text-align: center;
    padding: 5px;
}

.system-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(to right, #9313dd, #d11b85);
}

.user-message {
    border: 4px solid transparent;
    border-radius: 16px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    max-width: 90%;
    text-align: right;
    padding: 10px;
}

.user-message-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(to right, #068158, #578aef);
}

.messageshow {
    animation-name: msgShow;
    animation-duration: 0.75s;
}

@keyframes msgShow {
    0% {
        opacity: 0;
        top: 30px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.ai-message {
    border: 4px solid transparent;
    border-radius: 16px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    max-width: 90%;
    text-align: left;
    padding: 5px;
}

.ai-message-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin: -4px;
    border-radius: inherit;
    background: linear-gradient(to right, #1c62bd, #4a0875);
}