body {
    font-family: 'Segoe UI';
    background-color: rgb(255, 255, 255);
}

#chat {
    border: none;
}

#chat-input {
    width: 100%;
    height: 130px;
    background-color: rgb(203, 218, 233);
    position: fixed;
    border-top: 10px;
    border-color: rgb(203, 218, 233);
    bottom: 0;
    left: 0;
}

#chat-input-text {
    font-family: 'Segoe UI';
    position: relative;
    top: 10px;
    border: none;
    bottom: 0;
    left: 3px;
    border-radius: 8px;
}

#chat-input-send {
    position: relative;
    left: 7px;
    top: -70px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 17.5px;
    background-color: rgb(62, 109, 184);
}

#chat-input-send:hover {
    background-color: rgb(25, 73, 150);
}

#filename {
    position: relative;
    font-size: 14px;
    left: 7px;
    top: -35px;
    opacity: 0.8;
    border: 0.5px solid grey;
    border-radius: 4px;
    padding: 3px;
}

.system{
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(to right, rgb(94, 18, 77), rgb(147, 112, 219)) 1;
    border-radius: 8px;
    max-width: 90%;
    text-align: center;
}

.user-message {
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(to right, rgb(100, 149, 237), rgb(42, 24, 141)) 1;
    border-radius: 8px;
    max-width: 90%;
    text-align: right;
    padding: 8px;
}

.messageshow {
    animation-name: msgShow;
    animation-duration: 0.75s;
}

@keyframes msgShow {
    0% {
        opacity: 0;
        top: 30px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.ai-message {
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(to right, rgb(31, 119, 78), rgb(21, 64, 114)) 1;
    border-radius: 8px;
    max-width: 90%;
    text-align: left;
    padding: 8px;
    bottom: 200px;
    top: 10px;
}
